<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" [formGroup]="loginForm" (ngSubmit)="onLoggedin()" novalidate>
            <div class="text-center">
              <!-- <img src="assets/images/auth/logo.png" alt="logo.png"> -->
              <h4>Shadow Pin</h4>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" [(ngModel)]="Login.Email" formControlName="Email" name="Email" placeholder="Your Login Id"
                [ngClass]="{'is-invalid': submited && loginForm.controls.Email.errors}">
                
              </div>
              <div class="input-group">
                  <span class="md-line">
                    <small [hidden]="loginForm.controls.Email.valid ||(loginForm.controls.Email.pristine && !submitted)" class="text-danger"> Invalid email.</small>
                  </span>
                </div>
              <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="Login.Password" formControlName="Password"  name="Password" placeholder="Password">
                <span class="md-line">
                </span>
              </div>
              <div class="input-group">
                  <span class="md-line">
                      <small [hidden]="loginForm.controls.Password.valid ||(loginForm.controls.Password.pristine && !submitted)" class="text-danger"> Password is required.</small>
                    </span>
                </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/forgotpassword']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <input type="submit" value="Sign in" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" />
                </div>
              </div>
<!--              
              <div class="row m-t-30">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <strong>Danger!</strong> Indicates a dangerou
                      </div>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
