<div class="row">
<div class="col-sm-12">
<app-card [title]="'Fleet List'">
  
    <div class="addbutton">
        <button class="btn btn-primary" style="float: right;" [routerLink]="['/administration/fleet/add']" *ngIf="authService.checkRights(currentstate.state,mode.Create)">Add new fleet</button>
    </div>

    <div class="filtertext">
        <input type="text" class="form-control" placeholder="Search"name="strsearch" [(ngModel)]="strsearch">
    </div>
    
      <div class="table-responsive" style="margin-top:15px">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Fleet Name</th>
                  <th class="text-center">Fleet Description</th>
                  <!-- <th class="text-center">User</th> -->
                  <th class="text-center"  *ngIf="authService.checkRights(currentstate.state,mode.Edit) || authService.checkRights(currentstate.state,mode.Delete)">Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr *ngFor="let item of fleetList | filter : strsearch   | paginate: { itemsPerPage: pageSize, currentPage: pageNo ,totalItems: totalNumberOfRecords  }"> -->
                    <tr *ngFor="let item of fleetList | filter : strsearch   | paginate: { itemsPerPage: pageSize, currentPage: pageNo,totalItems: totalNumberOfRecords  }">
                  <td class="text-center">{{item.Id}}</td>
                  <td class="text-center">{{item.FleetName}}</td>
                  <td class="text-center">{{item.FleetDescription}}</td>
                  <!-- <td class="text-center">{{item.User}}</td> -->
                  <td class="text-center"  *ngIf="authService.checkRights(currentstate.state,mode.Edit) || authService.checkRights(currentstate.state,mode.Delete)">
                      <a class="text-default" [routerLink]="['/administration/fleet/edit',item.Id]" *ngIf="authService.checkRights(currentstate.state,mode.Edit)" ><i class="icofont icofont-ui-edit f-20"></i></a>
                      <a class="text-default" (click)="deleteAccount(item.Id)" *ngIf="authService.checkRights(currentstate.state,mode.Delete)" ><i class="icofont icofont-ui-delete f-20" ></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
           
            <div class="text-center" *ngIf="fleetList.length==0">
              <h5>
                  <label class="label label-info">No Record found !</label>
              </h5>
            </div>
            <div class="text-center"*ngIf="(fleetList | filter: strsearch).length === 0 && fleetList.length!=0 ">
                <h5>
                    <label class="label label-info">No Match found !</label>
                </h5>
              </div>
            </div>
            <label style="float:left; padding: 10px 10px 0 0;">Records Par Page</label>
            <select name="select" (change)="pagesizechange($event.target.value)" class="form-control" style="float:left;width: 10%;padding-bottom: 10px">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>

            <pagination-controls 
            (pageChange)="pagechange($event)"
            directionLinks="true"
            responsive="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
         <!-- <pagination-controls (pageChange)="objcurrentpage = $event"></pagination-controls>   -->
          <!-- <pagination-controls  id="55"
                (pageChange)="pageChanged($event)"
                maxSize="9"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
          </pagination-controls> -->

  </app-card>
</div>
</div>