.multiselect-item-checkbox div::before{display: none;}
.testtesttest{background-color: aqua;}
.multiselect-item-checkbox[_ngcontent-c8] input[type=checkbox][_ngcontent-c8] + div[_ngcontent-c8]:before{background-color: red;}

.multiselect-parent .dropdown-toggle {
    width: 100px;
  }
  


  .event-recipients{
    height: 30px;
    width: 30px;
    padding: 0;
  }

