<div class="row">
    <div class="col-sm-12">
    <app-card [title]="'Filter'">
                <div class="row form-group">
                    <div class="col">
                        <label class="col-form-label">Zone Type</label>
                    </div>
                    <div class="col-sm-4">
                        <select name="select" class="form-control" [(ngModel)]='zoneTypeId' (ngModelChange)='changeGeoZoneType($event)'>
                            <option *ngFor="let item of geoZoneType" [value]="item.id">{{item.name}}</option>
                          </select>
                    </div>
                    <div class="col-sm-2"></div>
                      <div class="col">
                          <label class="col-form-label">Zone Color</label>
                      </div>
                      <div class="col-sm-4">
                          <select name="select" class="form-control" [(ngModel)]='SelectedZoneColor' (ngModelChange)='changeGeoZoneColors($event)'>
                              <option *ngFor="let item of ZoneColors" [value]="item.name">{{item.name}}</option>
                            </select>
                      </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label class="col-form-label">Radius</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="redius" (ngModelChange)="RediusValueChange($event)" placeholder="Redius (meters)">
                        </div>
                        <div class="col-sm-2"></div>
                          <div class="col">
                              <label class="col-form-label">Latitude</label>
                          </div>
                          <div class="col-sm-4">
                              <input type="text" class="form-control" placeholder="Latitude" [(ngModel)]="latitude" (ngModelChange)="LatitudeValueChange($event)">
                          </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <label class="col-form-label">Longitude</label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Longitude" [(ngModel)]="longitude" (ngModelChange)="LongitudeValueChange($event)">
                            </div>
                            <div class="col-sm-2"></div>
                              <div class="col">
                                
                              </div>
                              <div class="col-sm-4">
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col">
                                  
                              </div>
                              <div class="col-sm-4">
                                  
                              </div>
                              <div class="col-sm-2"></div>
                                <div class="col">
                                  
                                </div>
                                <div class="col-sm-4">
                                  <div class="btnrightpos">
                                      <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                              </div>
                          
      </app-card>
    </div>
    </div>
    
<div class="row">
  <!-- <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <app-card [title]="'Filter'">
          <div class="row form-group">
            <div class="col-sm-4 col-form-label">
              <label class="col-form-label">Zone Type</label>
            </div>
            <div class="col-sm-8">
              <select name="select" class="form-control" [(ngModel)]='zoneTypeId' (ngModelChange)='changeGeoZoneType($event)'>
                <option *ngFor="let item of geoZoneType" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-4 col-form-label">
              <label class="col-form-label">Zone Color</label>
            </div>
            <div class="col-sm-8">
              <select name="select" class="form-control" [(ngModel)]='SelectedZoneColor' (ngModelChange)='changeGeoZoneColors($event)'>
                <option *ngFor="let item of ZoneColors" [value]="item.name">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div *ngIf="zoneTypeId == 1">
            <div class="row form-group">
              <div class="col-sm-4 col-form-label">
                <label class="col-form-label">Redius</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="redius" (ngModelChange)="RediusValueChange($event)" placeholder="Redius (meters)">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4 col-form-label">
                <label class="col-form-label">Latitude</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Latitude" [(ngModel)]="latitude" (ngModelChange)="LatitudeValueChange($event)">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-4 col-form-label">
                <label class="col-form-label">Longitude</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Longitude" [(ngModel)]="longitude" (ngModelChange)="LongitudeValueChange($event)">
              </div>
            </div>
          </div>

          <div class="form-group row" style="float: right;padding: 15px;">
            <button class="btn btn-primary">Submit</button>
          </div>
        </app-card>
      </div>
    </div>
  </div> -->
  <div class="col-sm-12" *ngIf="zoneTypeId == 2">
    <app-card [title]="'Polylines'" [classHeader]="true">
      <span class="code-header">use property <code>styles</code> with <code>agm-map</code> element</span>
      <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker>
        <agm-polyline>
          <agm-polyline-point [latitude]="latitude" [longitude]="longitude">
          </agm-polyline-point>
          <agm-polyline-point [latitude]="latA" [longitude]="lngA">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map> -->

      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
        <!-- <agm-marker *ngFor="let m of location"  [latitude]="m.lat" [longitude]="m.lng"></agm-marker> -->
        <!-- <agm-marker [latitude]="latA" [longitude]="lngA"></agm-marker> -->
        <agm-polyline (lineClick)="lineClick($event)" [strokeColor]="'red'" [strokeOpacity]="1" [polylineDraggable]="true" [geodesic]="true"
          [editable]="true" [clickable]="true" (lineDragEnd)="lineDrag($event)">
          <agm-polyline-point *ngFor="let item of location" [latitude]="item.lat" [longitude]="item.lng" color="red">
          </agm-polyline-point>
        </agm-polyline>

        <agm-polygon [strokeColor]="'red'" [paths]="location" clickable='true' [fillColor]="'SelectedZoneColor'" [geodesic]="true" [editable]="true"
          [polyDraggable]='true'>
        </agm-polygon>
        <!-- <agm-polygon [editable] = "true" [polyDraggable]="true" [paths] = "location" (pathChanged)="onPathChanged($event)"></agm-polygon> -->
      </agm-map>
    </app-card>
  </div>
  <div class="col-sm-12" *ngIf="zoneTypeId == 1">
    <app-card [title]="'Circle'" [classHeader]="true">
      <span class="code-header">use property <code>styles</code> with <code>agm-map</code> element</span>
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
        <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="redius" [fillColor]="SelectedZoneColor" [circleDraggable]="true"
          [editable]="true" (radiusChange)="onRadiusChange($event)" (dragEnd)="onDragEnd($event)">
        </agm-circle>
      </agm-map>
    </app-card>
  </div>
</div>